.introduction {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 6rem;

  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: $tablet) {
  .introduction {
    img {
    }
  }
}

@media screen and (min-width: $laptop) {
  .introduction {
    img {
    }
  }
}
