.bio {
  display: flex;
  justify-content: center;
  margin: 0;
  line-height: 2.7rem;
  font-size: $regularSize;
  color: $gray1;

  p {
    text-align: left;
  }
}

@media screen and (min-width: $tablet) {
  .bio {
    font-size: $largeSize;

    p {
      text-align: justify;
    }
  }
}
