.navbar {
  &__container {
    display: flex;
    align-items: center;

    color: $secondary;
    background-color: $primary;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);

    padding: 2rem $space-x-container;
    height: 8rem;
  }

  &__layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    width: 100%;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    grid-auto-columns: minmax(2rem, auto);
    width: 100%;
  }
}
