.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  background-color: $primary;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  height: 12rem;

  transition: all 0.3s ease-in-out;

  &--scroll {
    position: sticky;
    height: 6rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  }

  &__item {
    a {
      cursor: pointer;
      user-select: none;
      color: $secondary;
      font-size: $veryLargeSize;
      font-weight: $semiBold;
      transition: color 0.3s ease;

      &:hover {
        color: $gray4;
      }
    }
  }
}
