.navbar {
    &__container {
        display: flex;
        align-items: center;

        color: $secondary;
        background-color: $primary;
        
        padding: 2rem 8rem;
        height: 8rem;
    }
}