//colors
$white: #fdfeff;
$black: #030404;
$color01: #090a0c;
$color02: #0c111c;
$color03: #18233a;
$color04: #364e81;
$color05: #12110f;
$color06: #1d1f24;
$color07: #2d3139;
$color08: #363a45;
$color09: #8d93a5;
$color10: #d1d4db;
$color11: #bf8511;
$color12: #eba71e;
$color13: #9c3d0e;
$color14: #2f73fa;
$color15: #35b368;
$color16: #2f9d5b;

//utilities colors
$primary: $color01;
$secondary: $white;
$info: $color03;
$info-light: $color04;
$info-dark: $color02;
$warning: $color11;
$warning-light: $color12;
$danger: $color13;
$success: $color16;
$success-light: $color15;

//grays range
$gray1: $color06;
$gray2: $color07;
$gray3: $color08;
$gray4: $color09;
$gray5: $color10;