@import "./assets/fonts/fonts.css";
@import "./style/breakpoints";
@import "./style/colors";
@import "./style/fonts";
@import "./style/layout";
@import "./style/fonts";
@import "./style/sizes";

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;

  font-family: $main-family;
  line-height: $base-line-height;
  font-size: $base-font-size;

  a {
    text-decoration: none;
    color: $secondary;
  }
}

h1 {
  font-size: $giantSize;
}
h2 {
  font-size: $extraLargeSize;
}
h3 {
  font-size: $veryLargeSize;
}

.section {
  margin-bottom: 6rem;
}

@import "./components/Layout/layout";
@import "./components/Introduction/introduction.scss";
@import "./components/Navbar/navbar.scss";
@import "./components/Footer/footer.scss";
@import "./components/Listen/listen.scss";
@import "./components/Bio/bio.scss";
@import "./components/Gallery/gallery.scss";
@import "./components/Title/title.scss";
