@import "./assets/fonts/fonts.css";
@import "./variables.scss";

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  max-width: $large-desktop;

  font-family: Gotham;
  line-height: $base-line-height;
  font-size: $base-font-size;

  a {
    text-decoration: none;
    color: $secondary;
  }
}

.container {
  padding: 0 $space-x-container;
}

.section {
  padding: $space-y-section 0;

  &__title {
    text-align: center;
    margin-bottom: 4rem;
  }
}

@import "./components/Navbar/navbar.scss";
@import "./components/SoundcloudWidget/SoundcloudWidget.scss";