@import './assets/fonts/index.css';
@import './style/breakpoints';
@import './style/colors';
@import './style/fonts';
@import './style/layout';
@import './style/sizes';

@import './components/Layout/layout';
@import './components/Introduction/introduction';
@import './components/Navbar/navbar';
@import './components/Footer/footer';
@import './components/Listen/listen';
@import './components/Bio/bio';
@import './components/Gallery/gallery';
@import './components/Title/title';

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;

  font-family: $main-family;
  line-height: $base-line-height;
  font-size: $base-font-size;

  a {
    text-decoration: none;
    color: $secondary;
    transition: color 0.2s ease-out;

    &:hover {
      color: $gray5;
    }
  }
}

h1 {
  font-size: $giantSize;
}
h2 {
  font-size: $extraLargeSize;
}
h3 {
  font-size: $veryLargeSize;
}
h4 {
  font-size: $largeSize;
}

.section {
  margin-bottom: 6rem;
}
