/* COLORS */

//named colors
$white: #fdfeff;
$black: #030404;
$rich-black-fogra-39: #090a0c;
$rich-black-fogra-29: #0c111c;
$oxford-blue: #18233a;
$moon-blue: #364e81;
$smooky-black: #12110f;
$rainsin-black: #1d1f24;
$gun-metal: #2d3139;
$onyx: #363a45;
$manatee: #8d93a5;
$ligth-gray: #d1d4db;
$dark-gold: #bf8511;
$mariegold: #eba71e;
$rust: #9c3d0e;
$blues-crayola: #2f73fa;
$medium-sea-green: #35b368;
$shamrock-green: #2f9d5b;

//utilities colors
$primary: $rich-black-fogra-39;
$secondary: $white;
$info: $oxford-blue;
$info-ligth: $moon-blue;
$info-dark: $rich-black-fogra-29;
$warning: $dark-gold;
$warning-ligth: $mariegold;
$danger: $rust;
$success: $shamrock-green;
$success-ligth: $medium-sea-green;

//grays range
$gray1: $rainsin-black;
$gray2: $gun-metal;
$gray3: $onyx;
$gray4: $manatee;
$gray5: $ligth-gray;

/* LAYOUT */
$base-line-height: 1.4rem;
$base-font-size: 1.6rem;
$space-x-container: 6rem;
$space-y-section: 6rem;

/* Breakpoints */
$large-desktop: 1600px;
$desktop: 1440px;
$tablet: 1024px;
$mobile: 480px;

/* Typo */

//sizes
$tinySize: 1.1rem;
$smallSize: 1.4rem;
$regularSize: 1.6rem;
$largeSize: 1.8rem;
$veryLargeSize: 2.1rem;
$extraLargeSize: 2.5rem;
$giantSize: 3.2rem;

//weight
$bold: 700;
$semiBold: 500;
$regular: 400;
