/* COLORS */

//named colors
$white: #fdfeff;
$black: #030404;
$rich-black-fogra-39: #090a0c;
$rich-black-fogra-29: #0c111c;
$oxford-blue: #18233a;
$moon-blue: #364e81;
$smooky-black: #12110f;
$rainsin-black: #1d1f24;
$gun-metal: #2d3139;
$onyx: #363a45;
$manatee: #8d93a5;
$ligth-gray: #d1d4db;
$dark-gold: #bf8511;
$mariegold: #eba71e;
$rust: #9c3d0e;
$blues-crayola: #2f73fa;
$medium-sea-green: #35b368;
$shamrock-green: #2f9d5b;

//utilities colors
$primary: $rich-black-fogra-39;
$secondary: $white;
$info: $oxford-blue;
$info-ligth: $moon-blue;
$info-dark: $rich-black-fogra-29;
$warning: $dark-gold;
$warning-ligth: $mariegold;
$danger: $rust;
$success: $shamrock-green;
$success-ligth: $medium-sea-green;

/* GRAYS RANGE */
$gray-1: $rainsin-black;
$gray-2: $gun-metal;
$gray-3: $onyx;
$gray-4: $manatee;
$gray-5: $ligth-gray;

/* LAYOUT */
$space-x-container: 8rem;
$space-y-section: 4rem;

/* FONT */
$base-line-height: 1.5rem;
$base-font-size: 1.25rem;
$small-font: 1rem;
$big-font: 1.75rem;

/* BREAKPOINT */
$large-desktop: 1444px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 426px;
